<div class="topbar">
    <div class="container topbar__inner">
        <div class="topbar__links">
            <a href="http://siia.uasnet.mx/empleado" target="_blank" class="topbar__link">Portal Docentes</a>
            <a href="http://dse.uasnet.mx/alumnos" target="_blank" class="topbar__link">Portal Alumnos</a>
            <a href="http://uasposing.org" target="_blank" class="topbar__link">Posgrado</a>
        </div>
        <div class="topbar__links">
            <a href="https://secihti.mx/" target="_blank" class="topbar__link">SECIHTI</a>
            <span class="topbar__link">Los Mochis, Sinaloa</span>
        </div>
    </div>
</div>

<nav class="navbar" id="navbar">
    <div class="navbar__inner">

        <a href="#/" class="navbar__brand" data-link>
            <div class="navbar__brand-mark">FIM</div>
            <div class="navbar__brand-text">
                <span class="navbar__brand-name">Facultad de Ingenieria Mochis</span>
                <span class="navbar__brand-sub">Universidad Autonoma de Sinaloa</span>
            </div>
        </a>

        <ul class="navbar__nav" id="navMenu">
            <li><a href="#/" class="navbar__link" data-link>Inicio</a></li>

            <li class="navbar__dropdown">
                <a href="#/oferta-educativa" class="navbar__link" data-link>
                    Oferta Educativa <i class="ph ph-caret-down" style="font-size:.7rem"></i>
                </a>
                <div class="navbar__dropdown-menu">
                    <a href="#/oferta-educativa/civil" class="navbar__dropdown-item" data-link>Ingenieria Civil</a>
                    <a href="#/oferta-educativa/geodesica" class="navbar__dropdown-item" data-link>Ingenieria
                        Geodesica</a>
                    <a href="#/oferta-educativa/software" class="navbar__dropdown-item" data-link>Ingenieria de
                        Software</a>
                    <a href="#/oferta-educativa/industrial" class="navbar__dropdown-item" data-link>Ing. en Procesos
                        Industriales</a>
                    <a href="#/oferta-educativa/nanotecnologia" class="navbar__dropdown-item" data-link>Ing. en
                        Nanotecnologia</a>
                    <a href="#/oferta-educativa/posgrado" class="navbar__dropdown-item" data-link>Posgrado</a>
                </div>
            </li>

            <li class="navbar__dropdown">
                <a href="#/servicios" class="navbar__link" data-link>
                    Servicios <i class="ph ph-caret-down" style="font-size:.7rem"></i>
                </a>
                <div class="navbar__dropdown-menu">
                    <a href="#/servicios/servicio-social" class="navbar__dropdown-item" data-link>Servicio Social</a>
                    <a href="#/servicios/practicas" class="navbar__dropdown-item" data-link>Practicas Profesionales</a>
                    <a href="#/servicios/tutorias" class="navbar__dropdown-item" data-link>Tutorias</a>
                    <a href="#/servicios/titulacion" class="navbar__dropdown-item" data-link>Titulacion</a>
                </div>
            </li>

            <li><a href="#/directorio" class="navbar__link" data-link>Directorio</a></li>
            <li><a href="#/noticias" class="navbar__link" data-link>Noticias</a></li>
            <li><a href="#/contacto" class="navbar__link" data-link>Contacto</a></li>
        </ul>

        <button class="navbar__toggle" id="navToggle" aria-label="Abrir menu">
            <span></span><span></span><span></span>
        </button>

    </div>
</nav>